#report{
	width: 1030px;
	.wrapper {
		width: 100%;
		background: #fff;
		.time_choose {
			/*padding-top: 27px;*/
			position: relative;
			.time_choose_title {
				padding: 22px 25px;
				font-size: 29px;
				font-weight: 500;
				color: #474e59;
				border-bottom: 1px solid #bdbdbd;
				font-weight: 800;
			}
			.chooser_box {
				transform: translateY(70%);
				display: inline-block;
				float: right;
			}
			.chooser {
				margin-left: 10px;
				display: inline-block;
				input {
					text-align: center;
					width: 120px;
					height: 32px;
					margin: auto 13px;
					font-size: 16px;
					color: #25282e;
				}
				img {
					vertical-align: middle;
				}
			}
			span {
				display: inline-block;
				font-size: 16px;
				margin: auto 15px;
			}
			.check {
				cursor: pointer;
				margin-left: 10px;
				border-radius: 5px;
				border: none;
				outline: none;
				width: 70px;
				height: 32px;
				color: #fefefe;
				background: #38b1d5;
				float: right;
				margin-right: 27px;
				transform: translateY(70%);
			}
		}
		.report_title {
			padding: 22px 25px;
			font-size: 25px;
			font-weight: 800;
			color: #474e59;
			border-bottom: 1px solid #bdbdbd;
		}
	}
	.keyword {
		margin-top: 10px;
		width: 100%;
		background: #fff;
		overflow: auto;
		.graph_chart {
			float: left;
			width: 100%;
			height: 520px;
		}
		.keyword_title {
			padding: 22px 25px;
			font-size: 25px;
			font-weight: 800;
			color: #474e59;
		}
	}
	.emotion_trend {
		width: 100%;
		margin-top: 10px;
		background: #fff;
		margin-right: 37px;
		border-bottom: 1px solid #dbdbdb;
		.top {
			padding-left:25px;;
			line-height: 72px;
			width: 100%;
			color: #474e59;
			overflow: auto;
			font-size: 25px;
			font-weight: 500;
			color: #474e59;
		}
		.emotion_trend_chart {
			width: 1030px;
			height: 180px;
		}
	}
	.ranking_list{
		background: #fff;
		width: 100%;
		height: 570px;
		margin-right: 37px;
		margin-top: 10px;
		.module_title{
			padding-top: 25px;
			padding-left: 25px;
			padding-bottom: 25px;
			font-size: 25px;
			font-weight: 500;
			color: #474e59;
			border-bottom: 1px solid #b0b0b0;
		}
        .ranking_box{
          padding-left: 15px;
          padding-right: 15px;
          li:first-of-type{
            padding-left: 15px;
            padding-top: 15px;
            padding-bottom: 15px;
            font-size: 20px;
            span{
              display: inline-block;
              width: 300px;
              height: 100%;
            }
          }
          li:not(:first-of-type){
            position: relative;
            padding-left: 15px;
            padding-top: 15px;
            padding-bottom: 15px;
            font-size: 20px;
            border-top: 1px solid rgb(189,189,189);
            color: rgb(86,92,102);
            span{
              display: inline-block;
            }
            span:first-of-type{
              text-align: left;
              width: 165px;
            }
            span:not(:first-of-type){
              text-align: center;
              width: 310px;
            }
            span:last-of-type{
              width: 160px;
              height: 32px;
              background:#38b1d5;
              border-radius: 5px;
              line-height: 32px;
              color: #fff;
              font-size: 16px;
              margin-left: 20px;
              cursor: pointer;
            }
          }
        }
		.keywords_chart_box{
			width: 100%;
			height: 250px;
		}
	}
	.hidden{
		display: none;
	}
}